@model ShowHomeIndexModel
@{
    ViewBag.Title = Model.Page.Title;
}

@section featured {
    @if (Model.NextMeeting != null)
    {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h2>Nächtes Treffen</h2>
                </hgroup>
                @Html.DisplayFor(m => m.NextMeeting)
            </div>
        </section>
    }
}
<h2>@Html.DisplayFor(m => m.Page.Title)</h2>
<p>@Html.DisplayFor(m => m.Page.Abstract)</p>