<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
     <connectionStrings>
        <add name="StsContext"
             connectionString="Data Source=.\SQLExpress;Initial Catalog=dotnetKoelnBonn-System;Integrated Security=SSPI;"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <system.web>
        <customErrors mode="RemoteOnly" xdt:Transform="Replace"></customErrors>
    </system.web>
</configuration>