*.suo
*.user
.hg
.hgignore
bin
obj
_ReSharper*
src/packages
*.user
*.cache
*.orig
*.sdf
*.mdf
*.ldf
system.config
*.Publish.xml
Deployed
*.local.xml
*mm_cache.bin
node_modules
src/TestResults