@model LoginViewModel

@{
    ViewBag.Title = "Anmeldung";   
}

<h2>Anmeldung</h2>

@Html.ValidationSummary(excludePropertyErrors:true)
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <br/>
    <button value="submit">anmelden</button>
}
