@model dynamic

@{
    ViewBag.Title = "Abmelden";
}

<h2>Abmelden</h2>

@using(@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>Hier melden Sie sich wieder vom Identity Server ab</p>
    <button type="submit">abmelden</button>
}