@model UserGroup.Web.Areas.Backoffice.Models.EditMeetingModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="detail">  
@Html.DisplayForModel()
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
