@model ShowLocationModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>

@Html.DisplayFor(l=>l.Address)

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
<p>@Html.DisplayFor(l => l.Description)</p>    
}

@if (!string.IsNullOrWhiteSpace(Model.MapsUrl))
{
<p>@Html.DisplayFor(l => l.MapsUrl)</p>    
}
