@if (Request.IsAuthenticated) {
    <p>
        Benutzer: @User.Identity.Name 
        @Html.ActionLink("Abmelden", "LogOut", "Login")
    </p>
} else {
    <ul>
        <li>@Html.ActionLink("Anmelden", "Index", "Login")</li>
    </ul>
}