@model dynamic

@{
    ViewBag.Title = "Willkommen beim Identity-Server des dotnet Köln/Bonn e.V.";
}

<h2>Willkommen beim Identity-Server des dotnet Köln/Bonn e.V.</h2>


<ul>
    <li>@Html.ActionLink("Anmeldung", "Index", "Login")</li>
    <li>@Html.ActionLink("FederationMetadata", "Federation", "Metadata")</li>

</ul>