<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aperea.Bootstrap" version="0.7.3.76" targetFramework="net40" />
  <package id="Aperea.Common" version="0.7.3.76" targetFramework="net40" />
  <package id="Aperea.Data.EntityFramework" version="0.7.3.76" targetFramework="net40" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="dotConnect.Express.for.SQLite" version="4.6.301" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Machine.Fakes" version="1.7.0" targetFramework="net40" />
  <package id="Machine.Fakes.Moq" version="1.7.0" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.5.15" targetFramework="net40" />
  <package id="Moq" version="4.1.1308.2316" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>