<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <appSettings>
        <add key="WebServer.HttpsPort" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
        <add key="Certificate.SigningCertificateName" value="CN=dotnet-koelnbonn.sts" xdt:Locator="Match(key)" xdt:Transform="Replace" />
        <add key="Certificate.EncryptingCertificateName" value="CN=DefaultApplicationCertificate" xdt:Locator="Match(key)" xdt:Transform="Remove"/> 
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
      
      <customErrors  mode="RemoteOnly" xdt:Transform="Replace"/>
      
  </system.web>
    <microsoft.identityModel>
        <service>
            <audienceUris xdt:Transform="Replace">
                <add value="https://dotnet-koelnbonn.de/dotnet-koeln" />
            </audienceUris>
            <federatedAuthentication xdt:Transform="Replace">
                <wsFederation passiveRedirectEnabled="true" issuer="https://dotnet-koelnbonn.de/sts/issuer/passive"
                              realm="https://dotnet-koelnbonn.de/dotnet-koeln" requireHttps="true" />
                <cookieHandler requireSsl="true" name=".authusergroup" />
            </federatedAuthentication>
        </service>
    </microsoft.identityModel>
</configuration>