<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
        <add name="UserGroupDbContext"
         connectionString="Data Source=C:\WebSiteData\dnug-koeln.de\UserGroupDbContext.sdf;Persist Security Info=False;"
         providerName="System.Data.SqlServerCe.4.0"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>

    <appSettings>
        <add key="WebServer.HttpsPort" xdt:Locator="Match(key)" xdt:Transform="Remove"/>
        <add key="Certificate.SigningCertificateName" value="CN=dotnet-koelnbonn.sts" xdt:Locator="Match(key)" xdt:Transform="Replace" />
        <add key="Certificate.EncryptingCertificateName" value="CN=DefaultApplicationCertificate" xdt:Locator="Match(key)" xdt:Transform="Remove"/> 
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
      
      <customErrors  mode="RemoteOnly" xdt:Transform="Replace"/>
      
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="dnug-koeln.de if not https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^dnug-koeln\.de$" negate="true" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="http://dnug-koeln.de/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
    <microsoft.identityModel>
        <service>
            <audienceUris xdt:Transform="Replace">
                <add value="https://dotnet-koelnbonn.de/dotnet-koeln" />
            </audienceUris>
            <federatedAuthentication xdt:Transform="Replace">
                <wsFederation passiveRedirectEnabled="true" issuer="https://dotnet-koelnbonn.de/sts/issuer/passive"
                              realm="https://dotnet-koelnbonn.de/dotnet-koeln" requireHttps="true" />
                <cookieHandler requireSsl="true" name=".authusergroup" />
            </federatedAuthentication>
        </service>
    </microsoft.identityModel>
</configuration>