@model dynamic

@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<ul>
    <li>@Html.ActionLink("Treffen","Index","Meeting")</li>
    <li>@Html.ActionLink("Sprecher","Index","Speaker")</li>
    <li>@Html.ActionLink("Vorträge","Index","Talk")</li>
    <li>@Html.ActionLink("Ort","Index","Location")</li>
</ul>